<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Thank you for Logging In to UFO</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<div>
    <nav>
        <a href="/home" class="btn btn-primary btn-sm active" role="button">Home</a>
        <a href="/new"class="btn btn-primary btn-sm active" role="button">Create New Project</a>
        <a href="/logout" class="btn btn-primary btn-sm active" role="button"> Log Out </a>
    </nav>
</div>
<div>
    <h2 th:text="${Message}">Default </h2>
</div>


<div><h1 th:text="${project.title}"></h1></div>
<div><p th:text="${project.description}"></p></div>
<div><p th:text="${project.date}"></p></div>
<div><p th:text="${project.percentComplete}"></p></div>
<!--<div><a th:href="@{/edit/{id}(id=${project.id})}">Edit</a> | <a th:href="@{/delete/{id}(id=${project.id})}"> Delete</a></div>-->




        <div class="container">
            <form action="#" th:action="@{/delete}"
                  th:object="${project}"  method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="hidden" name="Id" th:value="*{id}" />
                        <button type="submit" class="btn btn-primary btn-block" >Yes, Delete Project</button>
                    </div>
                </div>
            </form>

            <form action="#" th:action="@{/home}" th:object="${project}" method="get" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-2">
<!--                        <input type="hidden" name="Id" th:value="*{id}" />-->
                        <button type="submit" class="btn btn-primary btn-block" >No</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>