<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Thank you for Logging In to UFO</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body class="container">
<div>
    <nav class="btn btn-md btn-info btn-block">
        <h1 th:text="${title}">Default Title</h1>
        <a href="/home" class="btn btn-primary btn-sm active" role="button">Home</a>
        <a href="/new"class="btn btn-primary btn-sm active" role="button">Create New Project</a>
        <a href="/logout" class="btn btn-primary btn-sm active" role="button"> Log Out </a>
    </nav>
</div>

<div>
    <h2 th:text="${WelcomeMessage}">Default </h2>
</div>

<div><h3 th:text="${NoProjects}">Default </h3></div>



    <div class="row">
<!--        <div th:each="image : ${userImages}">-->
        <div class="col-md-3" th:each="project : ${userProjects}">
<!--            <img th:attr="src=@{${project.imageString}}" alt="project_photo" class="img-thumbnail" max-width="100%">-->
            <img th:attr="src=@{${(project.imageString != null && !#strings.isEmpty(project.imageString) ? project.imageString : '/img/yarn.jpg') }}" alt="project_photo" class="img-thumbnail" max-width="100%">
<!--            <th:block th:each="image : ${project.image}">-->
<!--                <th:block th:text="${image.imageName}">New Image</th:block>-->
<!--            <br />-->
<!--                <th:img th:attr="src='@{data:image/jpeg;base64 + image.imageString}' alt='${image.imageName}'" class="img-thumbnail" max-width="100%"></th:img>-->
<!--            <th:img th:src="${image} == null ? _ : @{'data:image/png;base64,'+${image}}"></th:img>-->

<!--            </th:block>-->
<!--            <img th:src="@{/img/yarn.jpg}" alt="yarn" class="img-thumbnail" max-width="100%">-->
            <h3 th:text="${project.title}"></h3>
            <div th:text="${project.date}">
            </div>
            <div class="progress">
                <div id=progressDiv class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuemin="0" aria-valuemax="100" th:attr="aria-valuenow=${project.percentComplete}"
                     th:style="'width:'+ ${project.percentComplete}+'%;'" th:text="${project.percentComplete} +'%'">
                </div>
            </div>
            <a  th:href="@{/viewproject/{id}(id=${project.id})}"class="btn btn-primary btn-xs active" role="button"> View Project</a>
            <div style="padding:50px;"></div>
        </div>
    </div>
</body>
</html>